@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --Blue: #67B9DF;
    --Copper: #E38C3B;
    --DarkBlue: #132129;
    --OffWhite: #EFEFEF;

    --Copper-rgba: rgba(227,140,59,0.4);
    --text-light: #EFEFEF;
    --text-dark: #0b0b0b;
  }

  html {
    @apply font-sans;
    font-family: 'Montserrat', sans-serif;
  }
}


html {
  font-family: 'Montserrat', sans-serif;
}

.form-iframe-wrapper {
  width: 100%;
  min-height: 500px;
  overflow: scroll;
}